* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-family: "Londrina Solid", cursive;
  scroll-behavior: smooth;
}

:root {
  --LightCoral: #f08080;
  --Salon: #fa8072;
  --DarkSalmon: #e9967a;
  --LightSalmon: #ffa07a;
  --Crimson: #dc143c;
  --Red: #ff0000;
  --FireBrick: #b22222;
  --DarkRed: #8b0000;
  --White: #ffffff;
  --PaleGreen: #75e375;
  --DarkGreen: #006400;
  --Gold: #ffd700;
  --DodgerBlue: #1E90FF;
  --Ivory:#FFFFF0;
}

body {
  /* background: linear-gradient(to bottom, var(--White), var(--Red)); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  margin: 20px;
}

#root h1 {
  font-size: 150px;
  color: var(--Crimson);
}

.buscar {
  margin: 20px;
  width: 400px;
  background-color: var(--LightCoral);
}

.buscar-boton {
  width: 30vh;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--White);
  background-color: var(--LightCoral);
}

.boxPokemons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

div {
  margin: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: solid 10px var(--Gold);
  background: linear-gradient(to bottom, var(--Red), var(--LightCoral));
  color: var(--White);
  width: 15em;
  border-radius: 80px 80px;
}

.carta:hover{
  
  border-color: var(--DodgerBlue);
}

.img {
  width: 8em;
  margin: 20px;
}

.h2 {
  margin: 10px;
  color: var(--Gold);
}

.h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
  color: var(--Gold);
}

.h4:hover {
  color: var(--White);
}

.p {
  color: var(--Ivory);
}

.p:hover{
  color: var(--Gold);
}

